---
import { images } from "../data/site";
---

<section
  id="speakers"
  class="section section--speakers-title"
  style={`--section-bg: url('${images.speakersTitleBg}')`}
>
  <div class="section__bg section__bg--top" aria-hidden="true"></div>
  <div class="wrap">
    <h2 class="heading-banner reveal">Pembicara DATAMATIKA 2026</h2>
  </div>
</section>
